.header-container {
  height: 100%;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.company-detail {
  display: flex;
  align-items: center;
}

.company-name{
    margin-left: 5px;
}