.header-container {
  height: 100%;
  width: 100%;
  background-color: #b17457;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-detail {
  width: 250px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-evenly;
}

.more-button {
  margin-right: 10px;
  background: none;
  border: none;
  color: #faf7f0;
  cursor: pointer;
}

.company-name {
  font-family: garamond;
  font-size: 130%;
  font-weight: 600;
  color: #faf7f0;
}
.more-menu {
  width: 400px;
  background-color: #b17457;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
  opacity: 0.9;
}

.more-options {
  background: #b17457;
  font-family: garamond;
  font-size: 16px;
  color: #faf7f0 ;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.more-options:hover {
  background: #D8D2C2;
  color: #4A4947;
}
